<h1>Editing User</h1>
<div class="editUser">
  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user %>
  <% if @current_user.present? && @current_user.admin %>
    <%= link_to 'Back', users_path %>
  <% end %>
</div>
