<% provide(:title, @title) %>

      <div class="container">
        <aside class="user-sidebar">
            <section class="stats">
            <% if @user.image.present?%>
            <div class="circle-img">
               <%= render 'shared/stats' %>
            </div>
            <% end %>
            <h1><%= @user.name %></h1>
            <span><%= link_to "view my profile", @user %></span>
          </section>
        </aside>
      </div>

    <div class="container">
      <% if @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
        <% end %>
      </div>
    <% end %>
  </div>
