<div class="home">

  <!-- <%=  link_to cl_image_tag("ecohome") %> -->
<%=  link_to image_tag("grid.jpg") %>
  <h2>Reduce, Reuse, Recycle — Three great ways YOU can eliminate waste and protect your environment!</h2>

  <p>Waste, and how we choose to handle it, affects our world's environment—that's YOUR environment. The environment is everything around you including the air, water, land, plants, and man-made things. And since by now you probably know that you need a healthy environment for your own health and happiness, you can understand why effective waste management is so important to YOU and everyone else. The waste we create has to be carefully controlled to be sure that it does not harm your environment and your health.</p>
</div>
